.wrapper:before, .content {
  box-sizing: border-box;
  display: block;
  font-size: 4em;
  padding: 1em;
  width: 6em;
  height: 3em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.content {
  font-weight: bold;
  text-align: center;
  z-index: 1000;
  background: #fff;
  color: #000;
  mix-blend-mode: lighten;
}

section {
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
  position: relative;
  height: 100vh;
  padding: 1em;
}

.wrapper {
  clip: rect(auto auto auto auto);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wrapper:before {
  content: " ";
  padding: 2em 3.5em;
  mix-blend-mode: darken;
}

.i1 {
  background-image: url(http://lorempixel.com/1920/1080/city);
}
.i1 .wrapper:before {
  background: red;
}

.i2 {
  background-image: url(http://placeimg.com/1920/1080/people);
}
.i2 .wrapper:before {
  background: #faaa54;
  mix-blend-mode: difference;
}

.i3 {
  background-image: url(http://placekitten.com/1920/1080/);
}
.i3 .wrapper:before {
  background: #6c320a;
  mix-blend-mode: screen;
}

.i4 {
  background-image: url(https://picsum.photos/g/1920/1080);
}
.i4 .wrapper:before {
  background: #e4135d;
}